/*--RESET CSS-----------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/****************************************************************
                            Code HTML
****************************************************************/
html,
body {
  height: 100%; /* A virer plus tard si problématique ailleurs*/
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100%;
}

body > header {
  text-align: center;
}

body > header h1 {
  font-size: 2em;
  margin-top: 2em;
}

body > header b {
  font-weight: bold;
}

body > header h2 {
  font-size: 1em;
  margin: 10px;
}

body > header p {
  margin: 10px;
}

body > header li {
  margin: 0.5em;
}

body > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #bcd7e8;
  opacity: 80%;
}

body > footer img {
  height: 8vh;
  padding: 10px;
  border-radius: 3px;
}

footer > p {
  margin-top: 10px;
}

#imageHome {
  position: absolute; /* postulat de départ */
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 100%;
  max-width: 100%;
}

#ligneAccueil {
  flex-wrap: none;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#colAccueil {
  width: max-content;
  max-width: 50%;
  overflow: hidden;
}

#textAccueil h2 {
  font-weight: bold;
  font-size: 32px;
}

#textAccueil {
  padding-top: 10%;
  font-weight: bold;
  font-size: 20px;
}

#formulaireActivity {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color: black;
  font-weight: bold;
}

#formSignup {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color: black;
  font-weight: bold;
}

#formPageCo {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color: black;
  font-weight: bold;
}

h1 {
  font-weight: bold !important;
  text-align: center;
  color: #3261a3;
}

body {
  background-image: url("../images/sable.png");
  background-size: cover;
}

/* Among us */

/* Jeu collect */

#playCollect {
  width: 150px;
  height: 150px;
  position: absolute;
  display: block;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
}

#bouteilleAlert {
  display: block;
}

#bouteilleClear {
  display: none;
}

#quitCollect {
  position: fixed;
  display: block;
  right: 0;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#screenCollect {
  background-color: grey;
  padding: 10px;
  display: none;
  margin-top: 5px;
  position: fixed;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#collectBouteille {
  position: absolute;
  top: 15px;
  left: 50px;
  cursor: pointer;
}

#collectPneu {
  position: absolute;
  top: 15px;
  left: 400px;
  cursor: pointer;
}

#collectGobelet {
  position: absolute;
  top: 300px;
  left: 450px;
  transform: rotate(45deg);
  cursor: pointer;
}

#collectCanette {
  position: absolute;
  top: 200px;
  left: 200px;
  transform: rotate(-45deg);
  cursor: pointer;
}

/* Jeu save ocean */

#playOcean {
  width: 150px;
  height: 150px;
  position: absolute;
  display: block;
  left: 70px;
  bottom: 100px;
  cursor: pointer;
}

#screenOcean {
  background-color: grey;
  padding: 10px;
  display: none;
  margin-top: 5px;
  position: fixed;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#poulpeAlert {
  display: block;
}

#poulpe {
  display: none;
}

#quitOcean {
  position: fixed;
  display: block;
  right: 0;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#poisson {
  display: none;
  position: absolute;
  top: 500px;
  left: 400px;
  cursor: pointer;
}

#poissonHelp {
  display: block;
  position: absolute;
  top: 500px;
  left: 400px;
  cursor: pointer;
}

#poulpeJeu {
  display: none;
  position: absolute;
  top: 300px;
  left: 100px;
  cursor: pointer;
}

#poulpeHelp {
  display: block;
  position: absolute;
  top: 300px;
  left: 100px;
  cursor: pointer;
}

#tortue {
  display: none;
  position: absolute;
  top: 150px;
  left: 470px;
  cursor: pointer;
}

#tortueHelp {
  display: block;
  position: absolute;
  top: 150px;
  left: 470px;
  cursor: pointer;
}

/* Jeu planche */

#playPlanche {
  width: 150px;
  height: 150px;
  position: absolute;
  display: block;
  left: 800px;
  bottom: 280px;
  cursor: pointer;
}

#screenPlanche {
  background-color: grey;
  padding: 10px;
  display: none;
  margin-top: 5px;
  position: fixed;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#quitPlanche {
  position: fixed;
  display: block;
  right: 0;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

/* Perso */

#duckduck {
  position: absolute;
  top: 130px;
  left: 100px;
}

#bleu {
  position: absolute;
  top: 130px;
  left: 1500px;
}

#vert {
  position: absolute;
  bottom: 130px;
  right: 130px;
}

#noir {
  position: absolute;
  bottom: 330px;
  right: 130px;
}

#rouge {
  position: absolute;
  bottom: 330px;
  right: 130px;
}

#jaune {
  position: absolute;
  bottom: 130px;
  left: 130px;
}

#vent {
  position: absolute;
  bottom: 70px;
  left: 850px;
}

.emergencButton {
  position: absolute;
  top: 80px;
  right: 20px;
}

#affichePerso {
  margin-top: 5%;
}

.choiseImposteur {
  cursor: pointer;
}

#finDeJeu {
  display: none;
  margin-top: 5px;
  position: fixed;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#pannelVictory {
  display: none;
}

#pannelDefeat {
  display: none;
}

#quitFinJeu {
  position: fixed;
  display: block;
  right: 0;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#emergencyDiv {
  display: none;
  margin-top: 5px;
  position: fixed;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

#flashAmong {
  height: 100%;
  width: 100%;
  background-color: red;
  display: none;
  opacity: 0.5;
}

/* Page des statistiques */

#stat {
  width: 100%;
  height: 80%;
  margin: 0 10px;
}

#stat * {
  box-sizing: border-box;
}
