/*--RESET CSS-----------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/****************************************************************
                            Code HTML
****************************************************************/
html, body {
  height: 100%; /* A virer plus tard si problématique ailleurs*/
  overflow-x: hidden;
  
  max-width: 100%;
}

body > header {
  text-align: center;
}

body > header h1 {
  font-size: 2em;
  margin-top: 2em;
}

body > header b {
  font-weight: bold;
}

body > header h2 {
  font-size: 1em;
  margin: 10px;
}

body > header p {
  margin: 10px;
}

body > header li {
  margin: 0.5em;
}

body > footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #BCD7E8;
  opacity: 80%;
}

body > footer img {
  height: 8vh;
  padding: 10px;
  border-radius: 3px;
}

#imageHome {
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 100%;
  max-width: 100%;
  
}

#ligneAccueil {
  flex-wrap: none;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#colAccueil {
  width : max-content;
  max-width: 50%;
  overflow: hidden;
}

#textAccueil {
  padding-top: 10%;

}

#formulaireActivity {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color : black;
  font-weight: bold;
}

#formSignup {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color : black;
  font-weight: bold;
}

#formPageCo {
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  color : black;
  font-weight: bold;
}

h1 {
  font-weight: bold !important;
  text-align: center;
  color: #3261A3;
}

body{
  background-image: url("../images/sable.png");
  background-size: cover;
}
